{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "false",
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }, "antd"],
    [
      "import",
      { "libraryName": "lodash", "libraryDirectory": "", "camel2DashComponentName": false },
      "lodash"
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
  ]
}
