<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godman.anvil.dao.AnvilUserDao">

	<resultMap id="AnvilUserResultMap" type="AnvilUser">
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="realName" column="real_name" />
		<result property="position" column="position" />
		<result property="department" column="department" />
		<association property="role" javaType="AnvilRole" resultMap="AnvilRoleResultMap" />
	</resultMap>

	<resultMap id="AnvilRoleResultMap" type="AnvilRole">
		<result property="id" column="role_id" />
		<result property="roleCode" column="role_code" />
		<result property="roleName" column="role_name" />
	</resultMap>

	<select id="findByUsername" parameterType="Map" resultMap="AnvilUserResultMap">
		SELECT
		u.id,
		u.username,
		u.password,
		u.real_name,
		u.position,
		u.department,
		r.id as role_id,
		r.role_code,
		r.role_name
		FROM anvil_user u, anvil_role r
		WHERE u.username=#{username} and r.id=u.role
	</select>

	<select id="findByPaging" parameterType="Map" resultMap="AnvilUserResultMap">
		SELECT
		u.id,
		u.username,
		u.password,
		u.real_name,
		u.position,
		u.department,
		r.id as role_id,
		r.role_code,
		r.role_name
		FROM anvil_user u, anvil_role r 
		WHERE r.id=u.role and u.username=#{username} limit #{pageStart},#{pageSize}
	</select>
	
	<select id="getSize" parameterType="Map" resultType="Integer">
		SELECT
		count(1)
		FROM anvil_user u
	</select>
	
	<insert id="addUser" parameterType="AnvilUser">
		INSERT INTO anvil_user
		(username,
		password,
		real_name,
		position,
		department,
		role,
		create_time,
		update_time)
		VALUES
		(#{username},
		#{password},
		#{realName},
		#{position},
		#{department},
		#{role},
		now(),
		now()
		)
	</insert>
	
	<update id="updateUser" parameterType="AnvilUser">
		UPDATE SET anvil_user
		username=#{username},
		password=#{password},
		real_name=#{realName},
		position=#{position},
		department=#{department},
		role=#{role},
		update_time=now()
		WHERE id=#{id}
	</update>
	
	<delete id="deleteUser" parameterType="Map">
		DELETE FROM anvil_user
		WHERE id=#{userId}
	</delete>
	
</mapper>