.loginForm {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
}

.loginTitle {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.loginBtn {
  width: 100%;
}
