.loginForm {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
}

.loginTitle {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.loginBtn {
  width: 100%;
}

.login-version {
  background: #11AAFB;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
  padding: 2px 4px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
