.layout {
  height: 100vh;
}

.header {
  // background-color: #fff;
  height: 50px;
  line-height: 50px;
}

.content {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}

.logo {
  font-size: 24px;
  color: #fff;
}

.breadcrumb {
  background-color: #fff;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
}
