<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<property name="LOG_FILE_PATH" value="/data/logs/anvil-portal/log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{20} %M] %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- debug日志 -->
	<appender name="DEBUGLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}/debug.log</file>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{20} %M] %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}/debug.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<!--只输出DEBUG级别的日志 -->
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- info日志 -->
	<appender name="INFOLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}/info.log</file>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{20} %M] %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}/info.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<!--只输出INFO级别的日志 -->
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 错误日志 -->
	<appender name="FAILLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}/faillog.log</file>
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{20} %M] %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}/faillog.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<!--只输出ERRO级别的日志 -->
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
